<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
</head>
<body style="margin:0 auto;">
    <table width="100%" align="center" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" style="max-width:600px;padding:64px 32px 48px;">
        <tr>
            <td style="font-family:'Poppins', sans-serif;padding-top:32px;font-size:18px;line-height:27px;font-weight:500;color:#000;">
                Reserva confirmada
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:16px;font-size:16px;line-height:24px;color:#333;">
                Hola [usuarioCorreo],
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:8px;font-size:16px;line-height:24px;color:#333;">
                ¡Tu reserva para el día <strong>[fecha]</strong> a las <strong>[hora]</strong> ha sido confirmada exitosamente!
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:16px;font-size:16px;line-height:24px;color:#666;">
                Por favor, no responder a este correo electrónico.
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:16px;font-size:16px;line-height:24px;color:#666;">
                Si tenés dudas o necesitás asistencia, podés contactarnos a través de:
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:16px;font-size:16px;line-height:24px;color:#666;">
                📞 8806-8133
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:16px;font-size:16px;line-height:24px;color:#666; display:flex; flex-direction:row; justify-content:start; align-items:center; gap:2rem;">
                <img style="width:24px;" src="https://img.icons8.com/ios/50/whatsapp--v1.png" /> <span style="margin-left:5px;">8806-8133</span>
            </td>
        </tr>
        <tr>
            <td style="font-family:'Inter', sans-serif;padding-top:16px;font-size:16px;line-height:24px;color:#666;">
                ✉ detitansdev@grupomonge.com
            </td>
        </tr>
        <tr>
            <td><hr style="width:125px;opacity:0.24;" /></td>
        </tr>
        <tr>
            <td align="center" style="font-family:'Inter', sans-serif;font-size:12px;color:#999;padding-top:32px;">
                Copyright © 2025<br />DETitans Dev
            </td>
        </tr>
    </table>
</body>
</html>
